  @import url('https://fonts.googleapis.com/css2?family=Inspiration&family=Poppins:wght@300;400;500;700&display=swap');
*{
    margin:0;
    padding:0;
    font-family:'popins',sans-serif; 
}
body{
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    /* background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('../image/img1.jpg'); */
    color:#fff;
    background-size:cover;
  
}
.myVideo{
   
    position: relative;
    width:100%;
    height: 100%;
    object-fit: cover;
    
}
.onthisvideo{
    position: absolute;
    
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

  
.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 10px;
}
p{
    font-size:1rem;
}
.newyear{
    font-family:'Inspiration',cursive;
    font-size: 100px;
    font-weight:400;
    margin-top: 30px;
}
.box{
    width:70px;
    height:50px;
    text-align: center;
    
}
.box h2{
    font-size: 30px;

}
.box small{
    font-size:14px;
}
@media (min-width:576px){
    .newyear{
       
        font-size: 120px;
        
    }
    p{
        font-size: 18px;
    }
    .box h2{
        font-size: 30px;
    
    }
    .box{
        width:100px;
        height:70px;
        text-align: center;
        
    }
    .box small{
        font-size:15px;
    }


}
@media(min-width:800px){
    .newyear{
      
        font-size: 190px;
       
    }
    p{
        font-size: 25px;
    }
    .box h2{
        font-size: 60px;
    
    }
    .box{
        width:150px;
        height:100px;
        text-align: center;
        
    }

}